<application
    android:name=".VibeMusicApp"
    android:allowBackup="true"
    android:icon="@mipmap/veda"
    android:label="VibeMusic"
    android:roundIcon="@mipmap/veda"
    android:supportsRtl="true"
    android:theme="@style/Theme.VibeMusic"
    android:usesCleartextTraffic="true"
    tools:targetApi="34">

    <activity
        android:name=".ui.MainActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:theme="@style/Theme.VibeMusic">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="audio/*" />
        </intent-filter>
    </activity>

    <service
        android:name=".playback.MusicService"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback">
        <intent-filter>
            <action android:name="androidx.media3.session.MediaSessionService" />
        </intent-filter>
    </service>

    <receiver
        android:name=".widget.MusicWidgetReceiver"
        android:exported="true">
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/music_widget_info" />
    </receiver>

</application>
